body {
    background-color: grey;
}

h1 {
    color: white;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 100px;
    text-align: center
}

h2 {
    color: aqua;
}

.dog {
    width: 300px;
    display: flex;
}