body {
    background-color: grey;
}

#name {
    color: white;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 100px;
    text-align: center
}

h3 {
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 30px;

}

.topHeader {
    text-align: center;
    font-size: 50px;
    font-family: 'Edu QLD Beginner', cursive;


}

.topnav {
    background-color: #333;
    overflow: hidden;
}



.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;

}

.topnav a {
    color: #f2f2f2;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Edu QLD Beginner', cursive;
    font-weight: 500;
}

.Me {
    width: 300px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.target {
    width: 400px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#aboutMe {
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 20px;
}

#workHistory {
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 20px;
}

#myfamily {
    width: 400px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.family {
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 20px;
}

.whatwas {
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 20px;
}

.joe {
    width: 400px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}